* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #115bb2;
	--secondary: #5c5c5c;
}

input {
	background-color: transparent !important;
	width: 100%;
}

.ant-btn-primary {
	&.secondary {
		color: var(--secondary);
		border-color: var(--secondary);
	}
}

.not-found {
	text-align: center;
	margin: 3rem;
	font-size: 2rem;
	color: red;
}

.sider-custom {
	overflow: auto;
	height: 100vh;
	position: fixed !important;
	left: 0;
	top: 0;
	bottom: 0;
	padding-top: 5rem;
}

.content-main {
	padding: 2rem 1rem;
}

.table-custom {
	margin-top: 2rem;
}

.color-wrapper {
	position: relative;
	.color-input {
		position: absolute;
		right: 0;
		width: 20%;
		z-index: 999;
	}
}
